<!DOCTYPE html>
{% load static %}
<html>
    <body>
        <div id="dialog-alpha" style="display: none;" header="Open Alpha" subheader="">

            <p class="text-small">Welcome to Circles!</p>
            <p class="text-body"><i class="ph-bold ph-desktop"></i> Circles is currently in an open alpha. It's a buggy mess, but that's okay! 
                If you find any bugs, please report them <a href="https://github.com/nfoert/circles/issues">here</a>. There's plenty of things that need fixed or implemented, so if you're interested, help out and make a contribution!</p>

            <p class="text-body"><i class="ph-bold ph-hard-drives"></i> If you're viewing this on the production server, I know how slow it is. I'm paying the minimum possible and my code is very unoptimized. If more people are interested in this project, I'll scale everything up a bit.</p>

            <p class="text-body"><i class="ph-bold ph-device-mobile"></i> Also, while the UI is now mostly supported on mobile, touch events are not yet working. If you want this to get implemented faster, drop a <a href="https://github.com/nfoert/circles/issues/42">comment</a> </p>
        
            <p class="text-body"><i class="ph-bold ph-heart"></i> A big thanks to all of the contributors who've already helped out, and thank you for giving Circles a try!</p>
        
            <p class="text-body"><i class="ph-bold ph-github-logo"></i> - <a href="https://github.com/nfoert/circles">github.com/nfoert/circles</a></p>
        </div>
    </body>
</html>