<!DOCTYPE html>
{% load static %}
<html>
    <body>
        <div id="menu-userdetails">
            <div id="menu-userdetails-profilepicture">
                <p id="menu-userdetails-profilepicture-text">?</p>
            </div>

            <div class="menu-userdetails-line"></div>

            <div class="menu-userdetails-close" id="menu-userdetails-close"><i class="ph-bold ph-x-circle"></i></div>

            <div id="menu-userdetails-text">
                <p id="menu-userdetails-displayname">-----</p>
                <p id="menu-userdetails-username">-----@circles.media</p>
                <p id="menu-userdetails-pronouns">---/---</p>
            </div>
            
            <div class="menu-userdetails-line"></div>

            <div id="menu-userdetails-buttons">
                <div class="menu-userdetails-button" id="menu-userdetails-button-message"><i class="ph-bold ph-chat-circle-text"></i> Send Message</div>
            </div>

            <div class="menu-userdetails-line"></div>

            <p id="menu-userdetails-bio">-----</p>
        
            <p id="menu-userdetails-joined"><i class="ph-bold ph-calendar-blank"></i> Joined 8/20/23</p>
        </div>
    </body>
</html>