<!DOCTYPE html>
{% load static %}
<html>
    <body>
        <div id="menu-message">
            <div class="rectangle-button" id="menu-message-reactions"><i class="ph-bold ph-smiley-sticker"></i> Reactions</div>
            <div class="rectangle-button" id="menu-message-reply"><i class="ph-bold ph-arrow-u-down-left"></i> Reply to Message</div>
            <div class="line"></div>
            <div class="rectangle-button" id="menu-message-edit"><i class="ph-bold ph-pencil-simple"></i> Edit Message</div>
            <div class="rectangle-button" id="menu-message-delete"><i class="ph-bold ph-trash"></i> Delete Message</div>
            <div class="line"></div>
            <div class="rectangle-button" id="menu-message-copy"><i class="ph-bold ph-copy"></i> Copy Message Text</div>
            <div class="line"></div>
            <div class="rectangle-button" id="menu-message-close"><i class="ph-bold ph-x-circle"></i> Close</div>
        </div>
    </body>
</html>