asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
constantly
cryptography
daphne
Django
django-colorfield
gunicorn
hyperlink
idna
incremental
packaging
Pillow
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
requests
service-identity
six
sqlparse
trycourier
Twisted
txaio
typing_extensions
urllib3
zope.interface
dj_database_url
