@font-face {
	font-family: 'ArchiformSans';
	src: local('Abc'),
		 url('./fonts/Arciform.otf') format("opentype");
}



/* Animations */
@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade_in_scale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade_out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fade_out_scale {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
        display: none;
    }
}

.fade_in {
    animation: fade_in 0.3s forwards;
}

.fade_in_scale {
    animation: fade_in_scale 0.3s forwards;
}

.fade_out {
    animation: fade_out 0.3s forwards;
}

.fade_out_scale {
    animation: fade_out_scale 0.3s forwards;
}


/* ----- */

body {
    background-color: #35363E;
}


#main-header_image {
    width: 600px;
    margin-top: -75px;
    
}

.blob {
    aspect-ratio: 1;
    border-radius: 50%;
    transform: rotate(60deg) ;
    background: linear-gradient(to right, #FF6666 40%, #669CFF 40%, #FDAE3D 80%);
    z-index: -1;
}

#blob1 {
    height: 300px;
    position: fixed;

    left: 10%;
    top: 70%;
    translate: -50% -50%;
    filter: blur(75px);
}

#blob2 {
    height: 400px;
    position: fixed;
    
    left: 95%;
    top: 40%;
    translate: -50% -50%;
    filter: blur(100px);
}

#blob3 {
    height: 400px;
    position: fixed;
    
    left: 80%;
    top: 90%;
    translate: -50% -50%;
    filter: blur(100px);
}

#blob4 {
    height: 400px;
    position: fixed;
    
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    filter: blur(75px);
}

#main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header-text {
    margin-top: 15vw;
}

#main-header-subtext {
    margin-top: -25px;
}

#main-header_line {
    width: 600px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

#button_signup {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
}

#button_login {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
}

#main-header-buttonbox {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#auth-box {
    aspect-ratio: 3/4;
    height: 800px;
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 10;
    opacity: 0;
    display: none;
}

#background-darkness {
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    opacity: 0;
    display: none;
}

#auth-box-text-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#auth-box-text {
    display: flex;
    flex-direction: row;
    
}

#auth-box-text-label {
    color: white;
    font-family: ArchiformSans;
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
}

#auth-box-text-server {
    color: white;
    font-family: ArchiformSans;
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
}

#auth-box-close {
    color: white;
    font-family: ArchiformSans;
    font-size: 40px;
    margin: 30px;
    text-align: right;
    transition: 0.3s ease;
    cursor: pointer;
    opacity: 0.5;
}

#auth-box-close:hover {
    transform: scale(1.1);
    opacity: 1;
}

#auth-box-close:active {
    transform: scale(0.9);
}

.auth-box-textarea-text {
    color:white;
    margin: 0;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: ArchiformSans;
    font-size: 18px;
    opacity: 0.5;
}

#auth-box-password-validate {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.auth-box-password-validate-segment {
    width: 23.5%;
    height: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: rgba(66, 66, 66, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    transition: background-color 0.3s ease;
    
}

#auth-box-password-validate-1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#auth-box-password-validate-2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#auth-box-password-validate-3 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#auth-box-password-validate-4 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#auth-box-password-strength {
    transform: 0.3s ease;
}

#auth-box-buttonbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 100%;
}

#auth-box-buttonbox-onebutton {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Thanks to Akhil Kumar Pappula's answer here https://stackoverflow.com/questions/28502200/align-elements-in-corners-using-flexbox */


#commit-hash {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: white;
    text-decoration: none;
    font-family: ArchiformSans;
    font-size: 20px;
    opacity: 0.5;
}

#commit-hash > a {
    color: white;
    text-decoration: none;
    font-family: ArchiformSans;
    font-size: 20px;
}

#commit-hash:visited > a {
    color: white;
    text-decoration: none;
    font-family: ArchiformSans;
    font-size: 20px;
}

#commit-hash:active > a {
    color: white;
    text-decoration: none;
    font-family: ArchiformSans;
    font-size: 20px;
}