body {
    overflow: hidden;
    margin: 0;
}

@font-face {
	font-family: 'ArchiformSans';
	src: local('Abc'),
		 url('./fonts/Arciform.otf') format("opentype");
}

@keyframes copied {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    25% {
        transform: translateX(0px);
        opacity: 1;
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: scale(0.9);
        filter: blur(20px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }
}

.fade_in_conversations_label {
    animation: fade_in 0.4s forwards;
}

.copied {
    animation: copied 5s forwards ease;
    
}

#main-canvas {
    width: 100%;
    height: 100vh;
    background-color: #35363E;
}

#main-user-box {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 300px;
}

#main-user-box > img {
    width: 150px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}

#main-user-box-profile-circle {
    background-color: rgba(211, 211, 211, 0.4);
    border: 1px solid rgba(211, 211, 211, 0.6);
    backdrop-filter: blur(20px);
    aspect-ratio: 1;
    width: 60px;
    border-radius: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.3s ease;
    
}

#main-user-box-profile-circle-text {
    font-size: 25px;
    font-family: ArchiformSans;
    margin: 0;
    user-select: none;
    opacity: 0.6;
}

#main-user-box-profile {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#main-user-box-profile-text {
    display: flex;
    flex-direction: column;
}

#main-user-box-profile-text-username {
    margin: 0;
    font-family: ArchiformSans;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    user-select: none;
    transition: 0.3s ease;
    opacity: 0.6;
}

#main-user-box-profile-text-ip {
    margin: 0;
    font-family: ArchiformSans;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    user-select: none;
    opacity: 0.6;
}

#main-user-box-profile-circle:hover {
    transform: scale(1.1);
    background-color: rgba(211, 211, 211, 0.5);
    cursor: pointer;
}

#main-user-box-profile-circle:active {
    transform: scale(0.9);
    background-color: rgba(211, 211, 211, 0.3);
    cursor: pointer;
}

#main-user-box-profile-text-username:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

#main-user-box-profile-text-username:active {
    transform: scale(0.9);
    opacity: 0.5;
}

#main-copied-box {
    position: absolute;
    top: 120px;
    left: 20px;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 95px;
    transition: 0.3s ease;
    opacity: 0;
}

#main-copied-box-text {
    margin: 0;
    font-family: ArchiformSans;
    color: rgb(168, 255, 117);
    margin: 10px;
    opacity: 0.6;
    user-select: none;
}

#main-location-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    overflow:hidden;
}

#main-location-box-location {
    display: flex;
    flex-direction: row;
    margin-left:20px;
    margin-bottom:10px;
    margin-right:20px;
}

#main-location-box-onlineusers {
    margin: 0;
    font-family: ArchiformSans;
    color: white;
    font-size: 15px;;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.5;
}

.location-item {
    margin: 0;
    font-family: ArchiformSans;
    color: white;
    font-size: 20px;
    opacity: 0.5;
    transition: 0.3s ease;
    user-select: none;
}

.location-item:hover {
    opacity: 0.7;
    transform: scale(1.05);
}

.location-item:active {
    opacity: 0.4;
    transform: scale(0.95);
}

.location-slash {
    margin: 0;
    font-family: ArchiformSans;
    color: white;
    font-size: 20px;
    opacity: 0.5;
    transition: 0.3s ease;
    padding-left: 3px;
    padding-right: 3px;
    user-select: none;
}

#main-messages-box {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#main-messages-box-input {
    display: flex;
    flex-direction: row;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 500px;
    margin-top: 20px;
}

#main-messages-box-input-textarea {
    height: 20px;
    width: 400px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

#main-messages-box-input-send {
    font-size: 10px;
    vertical-align: middle;
    padding: 0;
    width: 100px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#main-messages-box-input-send-text {
    font-size: 14px;
    margin: 1px;
    padding: 0;    
}

.message {
    animation: fade_in 0.5s forwards;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    margin-right: 20px;
    width: fit-content;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease;
    
}

.message:hover {
    background-color: rgba(170, 170, 170, 0.2);
}

.message:active {
    background-color: rgba(233, 233, 233, 0.2);
}

.message-content {
    color: white;
    font-family: ArchiformSans;
    font-size: 18px;
}

.message-info {
    color: white;
    font-family: ArchiformSans;
    font-size: 14px;
    opacity: 0.8;
    margin-left: 5px;
}

.message-you {
    animation: fade_in 0.5s forwards;
    background-color: rgba(121, 190, 255, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    margin-left: 20px;
    width: fit-content;
    margin-right: 10px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    margin-left: auto;

    cursor: pointer;
    transition: 0.1s ease;
    
}

.message-you:hover {
    background-color: rgba(74, 168, 255, 0.2);
}

.message-you:active {
    background-color: rgba(173, 215, 255, 0.2);
}

.message-you-content {
    color: white;
    font-family: ArchiformSans;
    font-size: 18px;
}

.message-you-info {
    color: white;
    font-family: ArchiformSans;
    font-size: 14px;
    opacity: 0.8;
    margin-left: 5px;
}

#main-messages-box-messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: right;
    width: 500px;
    height: 90vh;
    align-items: right;
    overflow-y: auto;
    max-height: 100%;

}

#main-messages-box-input-conversations {
    font-size: 10px;
    vertical-align: middle;
    padding: 0;
    width: 50px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 10px;
}

#main-messages-box-input-conversations-text {
    font-size: 15px;
    margin: 0.5px;
    padding: 0;   
}

.conversation,.conversation2 { /* Second one is for the "Create New Conversation" button so It's not selected for the select conversation event listener */
    animation: fade_in 0.5s forwards;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.1s ease;
    user-select: none;
    cursor: pointer;
}

.conversation-name {
    color: white;
    font-family: ArchiformSans;
    font-size: 18px;
    padding-left: 5px;
}

.conversation-info {
    color: white;
    font-family: ArchiformSans;
    font-size: 14px;
    opacity: 0.8;
    margin-left: 5px;
    padding-right: 5px;
}

.conversation:hover,.conversation2:hover {
    background-color: rgba(170, 170, 170, 0.2);
}

.conversation:active,.conversation2:active {
    background-color: rgba(233, 233, 233, 0.2);
}

#main-messages-box-conversations {
    display: none;

    flex-direction: column;
    align-items: right;
    width: 100%;
    height: 90vh;
    align-items: right;
    overflow-y: auto;
    max-height: 100%;
}

@keyframes slide_from_top {
    0% {
        top: -60px;
        filter: blur(10px);
    }

    100% {
        top: 50px;
        filter: blur(0px);
    }
}

@keyframes slide_to_top {
    0% {
        top: 50px;
        filter: blur(0px);
    }

    100% {
        top: -60px;
        filter: blur(10px);
    }
}

.slide_from_top {
    animation: slide_from_top 1s forwards;
}

.slide_to_top {
    animation: slide_to_top 1s forwards;
}

@keyframes fade_in_bg {
    0% {
        backdrop-filter: blur(0px);
        background-color: rgba(36, 36, 36, 0);
    }

    100% {
        backdrop-filter: blur(10px);
        background-color: rgba(36, 36, 36, 0.4);
    }
}

.fade_in_bg {
    display: inline !important;
    animation: fade_in_bg 1s forwards;
}

.fade_out_bg {
    animation: fade_in_bg 1s reverse forwards;
    display: none !important;
}

#main-backgroundblur {
    width: 100%;
    height: 100%;
    
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    transform: 1s ease;
    
}

@keyframes show-create-conversation-box {
    0% {
        scale: 0.8;
        opacity: 0;
        filter: blur(50px);
    }

    100% {
        scale: 1;
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes hide-create-conversation-box {
    0% {
        scale: 1;
        opacity: 1;
        filter: blur(0px);
    }

    100% {
        scale: 0.8;
        opacity: 0;
        filter: blur(50px);
    }
}

.show-create-conversation-box {
    display: flex;
    animation: show-create-conversation-box 0.5s forwards;
}

.hide-create-conversation-box {
    animation: hide-create-conversation-box 0.5s forwards;
    display: none !important;
}

#create-conversation-box {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 10;
    aspect-ratio: 3/4;
    height: 800px;
    display: flex;
    flex-direction: column;
    width: 600px;

    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;

    opacity: 0;
    display: none;

}

#create-conversation-box-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#create-conversation-box-label {
    color: white;

}

#conversation-box-userstoadd {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: auto;
    width: 100px;
    width: 560px;
    /* Thanks to Temani Afif's answer here https://stackoverflow.com/questions/73422436/how-do-i-blur-the-right-and-left-sides-of-a-scroll-container */
    mask: linear-gradient(90deg,#0000,#000 3% 97%,#0000);
    -webkit-mask: linear-gradient(90deg,#0000,#000 3% 97%,#0000);
    padding-left: 10px;
}


#conversation-box-userstoadd::-webkit-scrollbar {
    height: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    border-radius: 3px;
}

#conversation-box-userstoadd::-webkit-scrollbar-thumb {
    height: 4px;
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 5px;
}

#conversation-box-userstoadd::-webkit-scrollbar-thumb:hover {
    height: 4px;
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 5px;
}

#conversation-box-button {
    margin-top: auto;
    margin-bottom: 20px;
}

#main-messages-box-messages::-webkit-scrollbar,#main-messages-box-conversations::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    border-radius: 3px;
}

#main-messages-box-messages::-webkit-scrollbar-thumb,#main-messages-box-conversations::-webkit-scrollbar-thumb {
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 5px;
}

#main-messages-box-messages::-webkit-scrollbar-thumb:hover,#main-messages-box-conversations::-webkit-scrollbar-thumb:hover {
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 5px;
}

/* Thanks to Andrew's answer here https://stackoverflow.com/questions/7720730/how-to-align-absolutely-positioned-element-to-center */
#main-status-box {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;

    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: fit-content;
    height: 40px;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-left: 10px;
    padding-right: 10px;
}

#main-status-box > p {
    font-family: ArchiformSans;
    color: white;
    font-size: 20px;
    margin: 10px;
}

#main-status-box > i {
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin: 5px;
    transition: 0.2s ease;
}

#main-status-box > i:hover {
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 15px;
    padding: 3px;
    scale: 1.1;
}

#main-status-box > i:active {
    background-color: rgba(138, 138, 138, 0.4);
    border-radius: 15px;
    padding: 3px;
    scale: 0.9;
}

@keyframes expand-notification {
    from {
        opacity: 0;
        scale: 0;
        top: 0px;
        filter: blur(40px);
    }

    80% {
        scale: 1;
    }

    to {
        opacity: 1;
        scale: 1;
        top: 70px;
        filter: blur(0px);
    }
}

@keyframes hide-notification {
    from {
        opacity: 1;
        scale: 1;
        top: 80px;
        filter: blur(0px);
    }

    to {
        opacity: 0;
        scale: 0;
        top: 20px;
        filter: blur(40px);
    }
}


.expand-notification {
    animation: expand-notification 0.5s cubic-bezier(0.25, 0.3, 0.4, 1.1) forwards;
}

.hide-notification {
    animation: hide-notification 0.5s forwards;

}

.notification {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;

    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;

    max-width: 400px;
    z-index: 8;
    scale: 0;

    overflow: hidden;

}

.notification-title {
    font-family: ArchiformSans;
    font-size: 20px;
    color: white;
    margin: 10px;
}

.notification-text {
    font-family: ArchiformSans;
    font-size: 16px;
    color: white;
    margin: 10px;
}

@keyframes time_up {
    from {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    to {
        scale: 1;
    }
}

.time_up {
    animation: time_up 0.5s forwards;
}