<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Circles</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/menus.css' %}"> 
        <link rel="stylesheet" href="{% static 'main/pure-snow/style.css' %}"> <!-- Thanks to https://github.com/hyperstown/pure-snow.js -->

        <link rel="icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}">
        <meta name="darkreader-lock">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#58545c">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
    
    </head>

    <body>
        <div id="main-canvas"></div>

        <div id="snow" data-count="20"></div> <!-- Thanks to https://github.com/hyperstown/pure-snow.js -->

        {% include "dialogs/dialog_createconversation.html" %}
        {% include "dialogs/dialog_createcircle.html" %}
        {% include "dialogs/dialog_alpha.html" %}
        {% include "dialogs/menu_userdetails.html" %}

        <div id="main-user-box">
            <!-- <img src="{% static 'main/images/circles.png' %}"> -->
            <div id="main-user-box-profile">
                <div id="main-user-box-profile-circle" data-tippy-content="Edit Profile">
                    <p id="main-user-box-profile-circle-text">{{ username|slice:1|title }}</p>
                </div>

                <div id="main-user-box-profile-text">
                    <p id="main-user-box-profile-text-username" data-tippy-content="Copy Username">{{ username }}</p>
                    <p id="main-user-box-profile-text-ip">{{ server_name }}</p>
                </div>
            </div>
            
        </div>

        <div id="main-copied-box">
            <p id="main-copied-box-text"><i class="ph-bold ph-check-circle"></i> Copied!</p>
        </div>

        <div id="main-location-box">
            <p id="main-location-box-users">Loading...</p>
            <div id="main-location-box-location">
                <p class="location-slash">Loading...</p>
            </div>
        </div>

        <div id="main-messages-box">
            <div id="main-messages-box-messages"></div>

            <div id="main-messages-box-conversations"></div>

            <div id="main-messages-box-input">
                <textarea id="main-messages-box-input-textarea" class="textarea" type="text" placeholder=""></textarea>
                <button id="main-messages-box-input-send" data-tippy-content="Send Message" class="buttonsmaller"><p id="main-messages-box-input-send-text">Send <i class="ph-bold ph-paper-plane-tilt"></i></p></button>
                <button id="main-messages-box-input-conversations" data-tippy-content="Toggle Conversations List" class="buttonsmaller"><p id="main-messages-box-input-conversations-text"><i class="ph-bold ph-list"></i></p></button>
            </div>
        </div>

        <div id="main-status-box">
            <i id="main-status-box-status" data-tippy-content="Status"><i class="ph-bold ph-check-circle"></i></i>
            <p id="main-status-box-time"></p>
            <i id="main-status-box-notifications" data-tippy-content="Notifications"><i class="ph-bold ph-bell"></i></i>
        </div>

        <div id="main-notifications-box">
            <div id="main-notifications-box-notifications">
                <p class="text-small">No Notifications</p>
            </div>

            <div id="main-notifications-box-controls">
                <button class="buttontiny" id="main-notifications-box-clear"><i class="ph-bold ph-trash"></i> Clear All</button>
                <button class="buttontiny" id="main-notifications-box-mute"><i class="ph-bold ph-bell-slash"></i> Mute Notifications</button>
            </div>
        </div>

        <div id="main-notification" class="notification">
            <p class="notification-title"></p>
            <p class="notification-text"></p>
        </div>

        <div id="main-addmenubutton">
            <p id="main-addmenubutton-text"><i class="ph-bold ph-plus-circle"></i> Add</p>
        </div>

        <div id="main-addmenu">
            <p id="main-addmenu-text"><i class="ph-bold ph-plus-circle"></i> Add</p>
            <p class="main-addmenu-item" id="add-circle"><i class="ph-bold ph-circle"></i> Circle</p>
            <p class="main-addmenu-item" id="add-conversation"><i class="ph-bold ph-chat-teardrop-text"></i> Conversation</p>
        </div>

        <div id="edit-profile">
            <div id="edit-profile-header">
                <div id="edit-profile-header-text">
                    <p class="dialog-header">Edit Profile</p>
                    <p class="dialog-subheader">Preview and Edit</p>
                </div>

                <p class="buttonx" id="edit-profile-close">X</p>
                
            </div>
            <div id="edit-profile-columns">
                <div id="edit-profile-preview">
                    {% include "dialogs/menu_userdetails.html" %}

                </div>

                <div id="edit-profile-fields">
                    <p class="dialog-subheader">Edit Profile</p>
                    <br>

                    <input class="textarea" placeholder="Display Name" type="text" id="edit-profile-displayname"></input>
                    <p class="textedit-subtext"><strong>Display Name</strong> The name you appear as</p>

                    <textarea class="textarea" placeholder="Bio" id="edit-profile-bio" rows="4"></textarea>
                    <p class="textedit-subtext"><strong>Bio</strong> Information about you</p>

                    <input class="textarea" placeholder="Pronouns" type="text" id="edit-profile-pronouns"></input>
                    <p class="textedit-subtext"><strong>Pronouns</strong> The pronouns you prefer to use</p>

                    <input class="textarea-color" placeholder="Primary Color" type="color" id="edit-profile-primary"></input>
                    <p class="textedit-subtext"><strong>Primary Color</strong> The main color for your User. This is the color of your Circle in the world.</p>
                
                    <input class="textarea-color" placeholder="Secondary Color" type="color" id="edit-profile-secondary"></input>
                    <p class="textedit-subtext"><strong>Secondary Color</strong> The secondary color for your User. This color is displayed in your profile.</p>
                    
                    <br>

                    <p class="dialog-subheader">Settings</p>
                    <br>

                    <div class="checkbox-layout">
                        <div class="checkbox"><input type="checkbox" class="setting" default="true" setting="show_version_warning"></div>
                        <p class="checkbox-text">Show version warning</p>
                    </div>

                    <div class="checkbox-layout">
                        <div class="checkbox"><input type="checkbox" class="setting" default="true" setting="show_controls_on_start"></div>
                        <p class="checkbox-text">Show controls on start</p>
                    </div>

                    <div class="checkbox-layout">
                        <div class="checkbox"><input type="checkbox" class="setting" default="true" setting="stat_tracking"></div>
                        <p class="checkbox-text">Statistic tracking</p>
                    </div>
                    
                </div>
            </div>

            <div id="edit-profile-buttons">
                <button class="buttontiny" id="edit-profile-save"><i class="ph-bold ph-floppy-disk"></i> Save</button>
                <button class="buttontiny" id="edit-profile-signout"><i class="ph-bold ph-sign-out"></i> Sign Out</button>
                <button class="buttontiny" id="edit-profile-changepassword"><i class="ph-bold ph-lock"></i> Change Password</button>
                <button class="buttontiny" id="edit-profile-deleteaccount"><i class="ph-bold ph-trash"></i></button>
            </div>

        </div>

        <div id="small-buttons">
            <div id="small-buttons-column">
                <button class="buttonsmallcircle" data-tippy-content="GitHub" id="small-buttons-github"><i class="ph-bold ph-github-logo"></i></button>
                <button class="buttonsmallcircle" data-tippy-content="Report a bug" id="small-buttons-issues"><i class="ph-bold ph-bug-beetle"></i></button>
                <button class="buttonsmallcircle" data-tippy-content="Discord" id="small-buttons-discord"><i class="ph-bold ph-discord-logo"></i></button>
                <div class="small-buttons-spacer"></div>
                <button class="buttonsmallcircle" data-tippy-content="Zoom In" id="small-buttons-zoomin"><i class="ph-bold ph-magnifying-glass-plus"></i></button> <!-- It's zoomin -->
                <button class="buttonsmallcircle" data-tippy-content="Zoom Out" id="small-buttons-zoomout"><i class="ph-bold ph-magnifying-glass-minus"></i></button>
                <button class="buttonsmallcircle" data-tippy-content="Camera to you" id="small-buttons-me"><i class="ph-bold ph-navigation-arrow"></i></button>
                <div class="small-buttons-spacer"></div>
            </div>

            <button class="buttonsmallcircle" id="small-buttons-expand"><i class="ph-bold ph-caret-down"></i></button>



        </div>

        <div id="mobile-warning">
            <div id="mobile-warning-contents">
                <p class="text-medium" style="text-align: left;"><i class="ph-bold ph-device-mobile"></i> Hi, your screen is really tiny.</p>
                <p class="text-small" style="text-align: left;">Circles doesn't really work that well on screens this size. You can give it a try anyways, but you may have some troubles getting things to work well. A mobile version of Circles will be coming eventually<i class="ph-bold ph-trademark"></i></p>
                <button class="buttonsmaller" id="mobile-warning-button" style="margin-left: 0px;"><i class="ph-bold ph-skull"></i> Try It Anyway</button>

            </div>
            
        </div>

        <div id="version-warning"><p id="version-warning-text">Open Alpha</p></div>

        <div id="controls" class="controls-fade">
            <p class="text-small" style="text-align: left; margin-left: 40px;">Controls</p>
            <p class="text-tiny controls-control"><strong>[Left Click]</strong> Move</p>
            <p class="text-tiny controls-control"><strong>[Right Click]</strong> Pan Camera</p>
            <p class="text-tiny controls-control"><strong>[Scroll]</strong> Zoom In and Out</p>
        </div>

        <div id="dialog">
            <div id="dialog-top">
                <div id="dialog-text">
                    <p class="dialog-header" id="dialog-header">Dialog Box</p>
                    <p class="dialog-subheader" id="dialog-subheader">Subheader</p>
                </div>
                <p class="buttonx" data-tippy-content="Close dialog" id="dialog-close">X</p>
            </div>
        
        </div>

        <div id="loading-screen">
            <img id="loading-screen-image" src="{% static 'main/images/icon.png' %}">
        </div>

        <div id="main-backgroundblur"></div>

        <script>
            var server_ip = "{{ server_ip }}";
            var production = "{{ production }}";
        </script>
        
        <script src="{% static 'main/scripts/logging.js' %}"></script>

        <script src="https://unpkg.com/three@0.157.0/build/three.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="{% static 'main/scripts/purify.min.js' %}"></script>

        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>

        <script src="{% static 'main/scripts/TextGeometry.js' %}"></script>
        <script src="{% static 'main/scripts/FontLoader.js' %}"></script>
        
        <script src="{% static 'main/scripts/tween.umd.js' %}"></script>
        <script src="{% static 'main/scripts/dat.gui.min.js' %}"></script>
        <script src="{% static 'main/scripts/copied.js' %}"></script>
        <script src="{% static 'main/scripts/messages_box.js' %}"></script>
        <script src="{% static 'main/scripts/conversation.js' %}"></script>
        <script src="{% static 'main/scripts/notification.js' %}"></script>
        <script src="{% static 'main/scripts/status.js' %}"></script>
        <script src="{% static 'main/scripts/location.js' %}"></script>
        <script src="{% static 'main/scripts/add.js' %}"></script>
        <script src="{% static 'main/scripts/userdetails.js' %}"></script>
        <script src="{% static 'main/scripts/editprofile.js' %}"></script>
        <script src="{% static 'main/scripts/mobilewarning.js' %}"></script>
        <script src="{% static 'main/scripts/smallbuttons.js' %}"></script>
        <script src="{% static 'main/scripts/main.js' %}"></script> <!-- Should be last to ensure all other scripts are loaded first, in case this script tries to access a function that's not loaded yet -->
        <script src="{% static 'main/scripts/messages.js' %}"></script>
        <script src="{% static 'main/scripts/dialog.js' %}"></script>

        <script src="{% static 'main/pure-snow/pure-snow.js' %}" defer></script> <!-- Thanks to https://github.com/hyperstown/pure-snow.js -->
        
        
        
        
    </body>
</html>