<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Circles</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/ui.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}">
        <meta name="darkreader-lock">
        
    </head>

    <body>
        <div id="main-canvas"></div>

        <div id="main-user-box">
            <!-- <img src="{% static 'main/images/circles.png' %}"> -->
            <div id="main-user-box-profile">
                <div id="main-user-box-profile-circle">
                    <p id="main-user-box-profile-circle-text">{{ username|slice:1|title }}</p>
                </div>

                <div id="main-user-box-profile-text">
                    <p id="main-user-box-profile-text-username">{{ username }}</p>
                    <p id="main-user-box-profile-text-ip">{{ server_name }}</p>
                </div>
            </div>
            
        </div>

        <div id="main-copied-box">
            <p id="main-copied-box-text">Copied ✔</p>
        </div>

        <div id="main-location-box">
            <p id="main-location-box-onlineusers">23 ◉ 11 ◯</p>
            <div id="main-location-box-location">
                <p class="location-item">All Servers</p>
                <p class="location-slash">/</p>
                <p class="location-item">{{ server_name }}</p>
                <p class="location-slash">/</p>
                
                
            </div>
        </div>

        <div id="main-messages-box">
            <div id="main-messages-box-messages">
                <div class="message">
                    <div class="message-content">Hello!</div>
                    <div class="message-info">nfoert - 11:23 AM</div>
                </div>

                <div class="message">
                    <div class="message-content">Hello!</div>
                    <div class="message-info">nfoert - 11:23 AM</div>
                </div>

                <div class="message-you">
                    <div class="message-you-content">Hello!</div>
                    <div class="message-you-info">you - 11:23 AM</div>
                </div>

                <div class="message">
                    <div class="message-content">Hello!</div>
                    <div class="message-info">nfoert - 11:23 AM</div>
                </div>

                <div class="message-you">
                    <div class="message-you-content">Hello!</div>
                    <div class="message-you-info">you - 11:23 AM</div>
                </div>
            </div>

            <div id="main-messages-box-conversations">
                <p class="text-small fade_in_conversations_label" style="text-align: left;">Conversations</p>
                <div class="conversation">
                    <div class="conversation-name">All of {{ server_name }}</div>
                    <div class="conversation-info">23 Users</div>
                </div>

                <div class="conversation">
                    <div class="conversation-name">Messages from current circle</div>
                    <div class="conversation-info">9 Users</div>
                </div>

                <div class="conversation">
                    <div class="conversation-name">Create new conversation</div>
                </div>
            </div>

            <div id="main-messages-box-input">
                <input id="main-messages-box-input-textarea" class="textarea" type="text" placeholder="All of circles.media"></input>
                <button id="main-messages-box-input-send" class="buttonsmaller"><p id="main-messages-box-input-send-text">Send</p></button>
                <button id="main-messages-box-input-conversations" class="buttonsmaller"><p id="main-messages-box-input-conversations-text">=</p></button>
            </div>
        </div>

        <div id="main-connecting-box">
            <p id="main-connecting-box-text">Connecting...</p>
        </div>

        <div id="main-backgroundblur"></div>

        <script>
            var server_ip = "{{ server_ip }}"
        </script>

        <script src="{% static 'main/scripts/three.js' %}"></script>
        <script src="{% static 'main/scripts/tween.umd.js' %}"></script>
        <script src="{% static 'main/scripts/dat.gui.min.js' %}"></script>
        <script src="{% static 'main/scripts/copied.js' %}"></script>
        <script src="{% static 'main/scripts/main.js' %}"></script>
        <script src="{% static 'main/scripts/messages.js' %}"></script>

        
    </body>
</html>